html,
body {
    background-color: #3c4650 !important;
    width: 100vw;
    height: 100vh;
    color: #e1ffff;
}
.navbar-right {
    margin-right: 0px !important;
}
.nav-side-menu {
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    color: #e1ffff;
}
.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.brand img {
    height: 100px;
    padding: 10px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 35px;
    cursor: pointer;
}
.nav-side-menu ul .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0;
}
.nav-side-menu ul .sub-menu li:hover {
    background-color: #020203;
    transition: none;
}
.nav-side-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 35px;
    cursor: pointer;
    padding-left: 0;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
    transition: all 0.2s ease;
}
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0;
}
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}
.nav-side-menu li a {
    display: block;
    text-decoration: none;
    color: #e1ffff;
}
.nav-side-menu li a i {
    margin: 10px 15px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    transition: none;
}
.sub-menu li {
    padding-left: 20px;
}
body {
    margin: 0;
    padding: 0;
}
li .fa-chevron-down {
    margin: 10px;
    vertical-align: middle;
    float: right;
    transition: transform 0.4s;
}
li.active .fa-chevron-down {
    transform: rotateX(180deg);
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #fff;
        color: #000;
        width: 40px;
        text-align: center;
        border-radius: 4px;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
@media (min-width: 767px) {
    .content {
        margin-left: 250px;
    }
}
.content {
    background-color: #0077ff1f !important;
    height: 100vh;
    padding: 20px;
}
.content p {
    color: #eee;
}
table {
    background: #3c4650 !important;
    color: #eee;
}
thead {
    background: #3c4650;
}
tbody {
    background: #596774;
}
._textarea {
    background-color: #3c4650;
    color: #ddd;
    font-family: monospace;
    padding: 25px;
}
